@using MovieDemo.Models
@model LoginViewModel

<div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="container">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                @Html.LabelFor(m => m.Email, new { @class = "col-4 control-label" })
                <div class="col-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control box-office-input" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.Password, new { @class = "col-4 control-label" })
                <div class="col-8">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control box-office-input" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="offset-8 col-3">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="col-1">
                    <input type="submit" value="Log in" class="btn btn-default" />
                </div>
            </div>
            @*<p>
                    @Html.ActionLink("Register as a new user", "Register", "Account")
                </p>*@
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>d
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        </div>
    }
</div>