@using MovieDemo.Models
@using MovieDemo.Util

@model LoginViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("LoginPart", "Account", new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "loginForm" }))
{
    @Html.AntiForgeryToken()

    <hr />

    //Email
    <div class="form-group row">
        @Html.LabelFor(m => m.Email, new { @class = "col-form-label col-md-4 col-lg-4 col-xl-4" })
        <div class="col-md-8 col-lg-8 col-xl-8">
            @Html.TextBoxFor(m => m.Email,
                new { @class = "form-control box-office-input" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr class="d-none d-md-block" />

    //Password
    <div class="form-group row">
        @Html.LabelFor(m => m.Password, new { @class = "col-form-label col-md-4 col-lg-4 col-xl-4" })
        <div class="col-md-8 col-lg-8 col-xl-8">
            @Html.PasswordFor(m => m.Password,
                new { @class = "form-control box-office-input" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />

    //Validation Message
    <div class="form-group row">
        <div class="col-12 text-center text-danger">
            @if (ViewData.ModelState.ContainsKey(Errors.BAD_LOGIN_KEY))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <span>Issues accessing your account?</span> @Html.ActionLink("Reset Password", "ForgotPassword", "Account", new { @class = "" })
            }
        </div>
    </div>

    <input type="submit" class="d-none" />
}