@using MovieDemo.Models
@using MovieDemo.Util

@model RegisterViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("RegisterPart", "Account", new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "registerForm" }))
{
    @Html.AntiForgeryToken()

    <hr />

    //Email
    <div class="form-group row">
        @Html.LabelFor(m => m.Email, new { @class = "col-form-label col-md-4 col-lg-6 col-xl-5" })
        <div class="col-md-8 col-lg-6 col-xl-7">
            @Html.TextBoxFor(m => m.Email,
                new { @class = "form-control box-office-input" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr class="d-none d-md-block" />

    //Password
    <div class="form-group row">
        @Html.LabelFor(m => m.Password, new { @class = "col-form-label col-md-4 col-lg-6 col-xl-5" })
        <div class="col-md-8 col-lg-6 col-xl-7">
            @Html.PasswordFor(m => m.Password,
                new { @class = "form-control box-office-input" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr class="d-none d-md-block" />

    //Confirm Password
    <div class="form-group row">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label col-md-4 col-lg-6 col-xl-5" })
        <div class="col-md-8 col-lg-6 col-xl-7">
            @Html.PasswordFor(m => m.ConfirmPassword,
                new { @class = "form-control box-office-input" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />

    //Validation Message
    <div class="form-group row">
        <div class="col-12 text-center text-danger">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    </div>

    // Submit button
    <div class="form-group row">
        <div class="col-12 text-center">
            <input type="submit" value="SIGN UP" class="btn btn-outline-secondary" />
        </div>
    </div>
}